* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-section {
    margin-top: 16px;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    padding: 50px;
    padding-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    padding-bottom: 26px;
    font-weight: bold;
}

.container {
    padding: 36px;
    border-radius: 8px;
}

.normal-text {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

.bg-light {
    background-color: #f8f8f8;
}

.bg-dark {
    background-color: #e2e2e2 !important;
}

.extra-margin {
    margin-top: 16px;
}

.badge-pill {
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
    width: 100px;
}

#insertRadRandNum {
    margin-left: 16px;
    margin-bottom: 16px;
}

#insertAdcRandNum {
    margin-left: 16px;
    margin-bottom: 16px;
}

#generateRandNum {
    margin-left: 16px;
    margin-bottom: 16px;
}

#manualRandNumbersText {
    margin: 16px;
    width: 100%;
}

#insertManualInput {
    margin-left: 16px;
}

.pureInputBits {
    overflow-y: scroll;
    overflow-wrap: break-word;
    margin-top: 16px;
    height: 240px;
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(247, 247, 247);
    padding: 10px;
}